*{
  box-sizing: border-box;  
  padding: 0;
  margin: 0;
 
}  

.error__loc {
  font-size: 25px;
  color: rgb(0, 26, 255);
  font-weight: bold;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body{
  min-height: 100vh;
  position: relative;
  height: 100%;
  width: 100%;
  background-image: url("./assets/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

body::-webkit-scrollbar {
  display: none;
}

.heading {
  margin-top: 10px; /* Adjust the top margin as needed */
  margin-left: auto;
  margin-right: auto;
  width: 300px; /* Set the width of the div as needed */
  padding: 20px;
  font-family: Sans;
  font-size: 25px;
  white-space: nowrap;
  text-align: center;
}

